extends default

block content
  if error
    div.error-message
      p
        | #{error}
  
  div.container-detail  
      h1 Passwort ändern
      form(action="/change" method="POST")
        input.input-text--size-lg(type="password" name="old_password" placeholder="altes passwort" autocomplete="off")
        input.input-text--size-lg(type="password" name="password" placeholder="neues passwort" autocomplete="off")
        input.button--size-md(type="submit")
