doctype html
html
  head
    if title
      title #{title}
    else 
      title Abibuch
    link(rel='stylesheet', href='/css/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    main
      block header
        if current_user
          header.header
            div.logo
              a(href="/")
                h1 Abibuch 2021
            div.navbar
              | [ 
              a.link--size-sm(href="/profiles")
                | profile
              a.link--size-sm(href="/poll")
                | umfragen
              a.link--size-sm(href="/dialogues")
                | dialoge
              |  ]
            div.account
              a(href=`/profile/${current_user.id}`)
                h3 #{current_user.firstname} #{current_user.lastname}
              a.link--size-sm(href="/logout") logout
      block content
