extends default

block content
  div.container-detail
    h3 Dialog
    div.container 
      p ...#{post.text}
      block controls
      small Von 
        a(href=`/profile/${user.id}`)
          | #{user.firstname} #{user.lastname}
      br 
      a.link--size-sm(href="/dialogues")
        | <
