extends default

block content
  div.container
    div.list-item.list-item-headline
      h1 Wisst ihr noch, als...
    div.container-scroll
      each moment in moments
        div.list-item
          p.title
            a(href=`/moment/${moment.id}`)
              | #{moment.text} 
  div.input-form
    form(action="/add_memory" method="POST")
      textarea(name="text" required)
      input(type="submit")
